.selected {
  background-color: lightgreen;
  transition: background-color 0.3s ease-in-out;
}

.fav-style {
  color: green;
}

.remove-fav {
  color: rgba(0, 0, 0, 0.54);
}

.booking-contaniner {
  background-color: #ffffff;
  /* padding: 10px 20px; */
}
.padningnone{
  padding: 0px !important;
}